@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00007F;
  --color-accent: #FEC956;
  --color-darkgray: #4B4A4A;
  --color-gray-100: #f3f4f6;
  --color-white: #ffffff;
  --color-blue-dark: #00005C;
}